<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smile_elasticsuite_ajax_settings>
            <general>
                <active>1</active>
            </general>
            <infinite>
                <active>1</active>
                <button_label>Next</button_label>
                <button_sentence>%current / %size</button_sentence>
                <button_class_name></button_class_name>
            </infinite>
        </smile_elasticsuite_ajax_settings>
    </default>
</config>
