<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="web200_elasticsuite_ajax_add_catalog_toolbar_options" type="Web200\ElasticsuiteAjax\Plugin\AddCatalogToolbarOptions"/>
    </type>
    <type name="Smile\ElasticsuiteCatalog\Block\Navigation\Renderer\Slider">
        <plugin name="web200_elasticsuite_ajax_add_slider_toobar_options" type="Web200\ElasticsuiteAjax\Plugin\AddSliderToolbarOptions"/>
    </type>
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin sortOrder="1" name="web200_elasticsuite_after_category_view" type="Web200\ElasticsuiteAjax\Plugin\AfterCategoryView"/>
    </type>
    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin sortOrder="1" name="web200_elasticsuite_after_search_view" type="Web200\ElasticsuiteAjax\Plugin\AfterSearchView"/>
    </type>
    <type name="Magento\Framework\App\PageCache\Identifier">
        <plugin name="web200_elasticsuite_add_ajax_to_cache" type="Web200\ElasticsuiteAjax\Plugin\AddAjaxToCache"/>
    </type>
</config>
